*{
  margin:0; box-sizing: border-box;
}
button{ transition:transform 0.3s ease-in-out;}
button:hover{filter:brightness(2); cursor:pointer;}


body{  margin:0 auto;   color:white; background-color: rgba(37, 13, 68, 1);  }
/*header */
header{padding:0px 200px 0px 200px; height:92px;  display: flex; align-items:center; justify-content:  space-between; background-color: rgba(26, 11, 46, 1); }
.wave-color{color:transparent;  background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1) ); -webkit-background-clip: text;}
header nav li{list-style: none; display: inline; margin-right: 32px;}
header nav li a{text-decoration: none; color:white; }
header button{ background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); border-radius: 20px;padding: 12px; width:140px; color:white;} 
.hamburger{display:none;}
.header-close{border:1px solid rgba(245, 245, 245, 0.094)! important;}
/*banner*/
.banner-section{ background-image: url(assets/hero-bg.png);  background-position:center; padding:30px 5px 30px 5px;  }
.microphone img{width:200px; height:200px;  margin:75px  }
.badge {background-color: #00FF88; position: absolute; top: 33%; left:58%; padding: 6px 15px 6px 15px;  border-radius: 20px; color: black; box-shadow: 0px 3px 15px 2px #00FF88;}
.microphone{ background-image: url(assets/hero-circle.png); width:350px; height:350px; margin:0 auto;  }
.about-microphone{text-align: center; margin-top: 20px;}
.about-microphone h1{padding:20px; font: 3.5em;}
.about-microphone p{color:rgba(255, 255, 255, 0.728);}
#microphone{display: flex; justify-content: center; gap:7px; margin-top: 40px; }
#microphone button{border-radius: 20px; padding: 7px 15px 7px 15px;}
.spotify{ background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); display: flex; gap:5px; color:white;}
.subscribe{display: flex; gap:5px; color:#00FF88;  background-color: rgb(4, 4, 47); border-color: #00FF88;}


/*about-section*/
.about-section{background-color: rgba(26, 11, 46, 1);  padding: 50px 200px 120px 200px;}
#about{max-height:223px;  max-width:600px; margin:0 auto; margin-bottom: 100px;  display: flex; text-align: center;}
#about h1{ margin: 0 auto;}
.hr{border:1px solid rgba(245, 245, 245, 0.094); margin-bottom: 50px;}
#item{display: flex;  gap:80px; max-width:800px;margin:0 auto; }  
.item{width:250px; height:100px;  color:#00FF88; }
.item p{color:white; font-size: small;}

/*choose section*/
.choose-section{background-color: rgba(35, 14, 61, 1);  }
.choose-section h1{text-align: center;  padding:50px;}
.choose-section p{color:rgba(218, 211, 211, 0.806);}
.mobile-global{display: flex; flex-direction: column;  gap:16px;}
.premium{display: flex;  gap:16px; }
.exclusive-rich{display:flex; gap:16px; }
.exclusive-rich div{ background-color:  rgba(53, 17, 101, 0.4); }
.choose{display: flex; flex-direction: column;  padding: 10px 200px 120px 200px;gap:16px;  }
.mobile-global div{max-width:500px; background-color:  rgba(53, 17, 101, 0.4); height:150px; padding:20px; border-radius: 40px;}
#premium{max-width:380px;  background-color:  rgba(53, 17, 101, 0.4); padding-top: 150px;  padding:50px; height: 318px; border-radius: 40px;}
#exclusive{max-width:790px; padding: 20px;border-radius: 40px;}
#rich{max-width:380px; height:200px; padding: 20px;border-radius: 40px;}


/*featured section */
.feature{height:650px;  background-color:#1A0B2E; padding:70px 200px 120px 200px;  margin-top: 0px;}
.feature h1{text-align: center;}
#card{display: flex; gap:30px; width:900px; padding:20px; margin-top: 50px;}
iframe{width:100%; height:214px; border-top-left-radius: 25px; border-top-right-radius: 25px;}
.card{ max-width:380px; height:392px;  background-color:rgba(53, 17, 101, 0.4); border-radius: 25px;}
.details{margin:24px;}
.details p{color:rgba(218, 211, 211, 0.806);}
.image-time{display: flex; gap:5px;}
.section{display: flex; flex-direction: column;}


.host{padding: 40px; background-color: #1A0B2E; padding:70px 200px 120px 200px; }
.host h1{ text-align: center;  padding: 30px;}
#about h2{padding:10px;}
#about{display: flex; flex-direction: column; gap:16px; align-items: flex-start;  }
.alex{display: flex; background-color: rgba(37, 13, 68, 1);  gap:24px; border-radius: 40px; max-width:900px; padding: 40px;}
.image img{ max-width:200px; height:200px;}
.png{display: inline;justify-content: center;   gap:8px; padding: 10px;}
.png img{ height: 20px; width: 20px;   border:2px solid (83, 60, 114, 1); border-radius: 50%; object-fit:cover; background-color: rgba(37, 13, 68, 1); }
#about p{color:rgba(218, 211, 211, 0.806);}


/*footer*/
.footer{  background-image: url(assets/footer-bg.png); background-position:center;  }
.takewave{display: flex; gap:40px;  height:24px;  max-width:544px;  align-items: flex-start;}
#footer{ margin:120px 400px 120px 400px; display: flex; flex-direction: column; gap:32px; align-items: center; }
#footer h1{ font-size: 4em;}
.takewave div{display: flex; gap:3px; }
.takewave p{color:rgba(218, 211, 211, 0.806);}
.copy{color:rgba(218, 211, 211, 0.806);}

@media (max-width:576px){
/*header*/
  header nav, button{display:none;}
.hamburger{display: block;}
header{display:flex;  padding: 3px 20px 5px 20px;}
.hamburger:hover nav{display:block;}
.hamburger:hover nav ul{ display: flex; flex-direction: column; }
.hamburger:hover img{display: none;}
/*banner*/
.microphone img{width:80px; height:80px; margin:60px;}
.microphone{ width:200px; height:200px; margin: 0 auto; background-size: cover;}
 .badge{padding:3px 10px 3px 10px; top:16%}
.banner-section{ padding:20px 5px 20px 5px; background-size: cover; }


/*about-section*/
.about-section{padding: 60px 100px 60px 100px; }
#about{width:100% ; }
#about h1{width:max-content;}
#item{ width:100%; gap:50px;  display: grid; grid-template-columns: repeat(2,1fr);}
.item{width:100%;}


/*choose section*/
.choose{padding:20px ;}
.premium, .exclusive-rich{flex-direction: column;}
.mobile-global div, #premium, #rich, #exclusive{max-width: 100%; height: auto; padding:20px;}


/*featured section */
.feature{ padding:50px ; height:1400px; }
.feature h1{width: 100%; }
#card{flex-direction: column; gap:20px; width:fit-content;}
.card{ border-radius: 20px; }
.details{margin:5px;}


.host{padding: 40px; }
.alex{flex-direction: column; width:fit-content;   gap:1px; height:520px;}



#footer{ margin:0 auto;  }
.takewave{display: grid; grid-template-columns: repeat(2,1fr);   width:100%;  }
#footer{ margin:0 auto;  padding: 60px;}
.copy{  display: inline; margin-top: 80px;}

 }
   


