body{ border:2px solid red; margin:0 auto;   color:white; }
/*header */
header{ border:2px solid green;  padding:0px 200px 0px 200px; height:92px;  display: flex; align-items:center; justify-content:  space-between; background-color: rgba(26, 11, 46, 1); }
.wave-color{color:transparent;  background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1) ); -webkit-background-clip: text;}
header nav li{list-style: none; display: inline; margin-right: 32px;}
header nav li a{text-decoration: none; color:white; }
header button{ background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); border-radius: 20px;padding: 12px; width:140px; color:white;} 
.hamburger{display:none;}
/*banner*/
.banner-section{ border:2px solid blue;  background-image: url(assets/hero-bg.png);  background-position:center; padding:30px 5px 30px 5px;  }
.microphone img{width:200px; height:200px;  margin:75px  }
.badge {background-color: #00FF88; position: absolute; top: 33%; left:58%; padding: 6px 15px 6px 15px;  border-radius: 20px; color: black; box-shadow: 0px 3px 15px 2px #00FF88;}
.microphone{ background-image: url(assets/hero-circle.png); width:350px; height:350px; margin:0 auto; border:2px solid skyblue; }
.about-microphone{text-align: center;}
#microphone{display: flex; justify-content: center; gap:7px; }
#microphone button{border-radius: 20px; padding: 7px 15px 7px 15px;}
.spotify{ background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); display: flex; gap:5px; color:white;}
.subscribe{display: flex; gap:5px; color:#00FF88;  background-color: rgb(4, 4, 47); border-color: #00FF88;}
























@media (max-width:576px){
/*header*/
  header nav, button{display:none;}
.hamburger{display: block;}
header{display:flex;  border:2px solid white;  padding: 3px 20px 5px 20px;}
.hamburger:hover nav{display:block;}
.hamburger:hover nav ul{ display: flex; flex-direction: column; }
.hamburger:hover img{display: none;}
/*banner*/
.microphone img{width:80px; height:80px; margin:60px;}
.microphone{ width:200px; height:200px; margin: 0 auto; background-size: cover;}
 .badge{padding:3px 10px 3px 10px; top:26%}
.banner-section{ padding:20px 5px 20px 5px; background-size: cover; }





 }
   


